<%= include('includes/top.tmpl') %>

    <div class="main">
    	<div class="tempShareToolsHolder"></div>
    	<p style="color: white; position: absolute; margin: 1em;">iFS 1.7.4</p>
        <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/testcard.jpg" data-width="320" style="width: 100%;"></div>
        <button class="testIntegration">Test the integration</button>
    </div>

<%= include('includes/bottom.tmpl') %>