<%= include('includes/top.tmpl') %>

    <div class="main">
    	<%= include('sections/breadcrumbs.tmpl') %>
    	<%= include('sections/issues.tmpl') %>
    	<%= include('sections/policies.tmpl') %>

    	<%= include('sections/buttons.tmpl') %>

    </div>

<%= include('includes/bottom.tmpl') %>