                <div class="issue-guide__cards--column issue-guide__cards--column-pri">
                    <div class="js-slot js-slot-con"></div>
                    <div class="js-slot js-slot-lab"></div>
                    <div class="js-slot js-slot-ld"></div>
                    <div class="js-slot js-slot-ukip"></div>
                    <div class="js-slot js-slot-grn"></div>
                    <div class="js-slot js-slot-res"></div>
                </div> 