                <div class="issue-guide__cards--column issue-guide__cards--column-pri">
                    <div class="js-slot js-slot-dup"></div>
                    <div class="js-slot js-slot-sdlp"></div>
                    <div class="js-slot js-slot-grn"></div>
                    <div class="js-slot js-slot-ukip"></div>
                </div>             	
                <div class="issue-guide__cards--column issue-guide__cards--column-sec ">
                    <div class="js-slot js-slot-sf"></div>
                    <div class="js-slot js-slot-ap"></div>
                    <div class="js-slot js-slot-tuv"></div>
                    <div class="js-slot js-slot-uup"></div>
                </div>