            <div class="issue-guide__cards--column issue-guide__cards--column-pri">
                <div class="js-slot js-slot-con"></div>
                <div class="js-slot js-slot-ld" ></div>
                <div class="js-slot js-slot-grn"></div>
                <div class="js-slot js-slot-dup"></div>                   
                <div class="js-slot js-slot-sf"></div>
                <div class="js-slot js-slot-sdlp"></div>
            </div>              
            <div class="issue-guide__cards--column issue-guide__cards--column-sec ">
                <div class="js-slot js-slot-lab"></div>
                <div class="js-slot js-slot-ukip"></div>
                <div class="js-slot js-slot-res"></div>
                <div class="js-slot js-slot-snp"></div>
                <div class="js-slot js-slot-pc"></div> 
                <div class="js-slot js-slot-ap"></div>
            </div>
