                <div class="issue-guide__cards--column issue-guide__cards--column-pri">
                    <div class="js-slot js-slot-lab js-def-uk"></div>
                    <div class="js-slot js-slot-snp js-def-scot"></div>
                    <div class="js-slot js-slot-grn js-def-uk"></div>
                </div>             	
                <div class="issue-guide__cards--column issue-guide__cards--column-sec ">
                    <div class="js-slot js-slot-ld js-def-uk"></div>
                    <div class="js-slot js-slot-con js-def-uk"></div>
                    <div class="js-slot js-slot-ukip js-def-uk"></div>
                </div>