$partyColourOth: #999999;
$partyColourCon: #0575c9;
$partyColourLab: #ed1e0e;
$partyColourLd: #fe8300;
$partyColourSnp: #ebc31c;
$partyColourPc: #4e9f2f;
$partyColourUkip: #712f87;
$partyColourGrn: #78c31e;
$partyColourRes: #31b56a;
$partyColourDup: #c0153d;
$partyColourSf: #00623f;
$partyColourSdlp: #65a966;
$partyColourAp: #cdaf2d;
$partyColourNi21: #009fbd;
$partyColourTuv: #6dcad2;
$partyColourUup: #6ab1e6;
$partyColourBnp: #9094c8;
$partyColourEd: #b20a06;
$partyColourPup: #000b66;
$partyColourTusc: #6c0000;
$partyColourCpa: $partyColourOth;
$partyColourChp: $partyColourOth;
$partyColourMk: #a09b1c;
$partyColourNha: #1554b6;
$partyColourYf: #00b8fd;
$partyColourSsp: #990066;