@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.bbc-news-visual-journalism-loading-spinner {
    display: block;
    margin: 10px auto;
    width: 33px;
    height: 33px;
    max-width: 33px;
    
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzMgMzMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGQ9Ik0yNC45LDguMWMyLjIsMi4yLDMuNSw1LjEsMy41LDguNGMwLDYuNi01LjMsMTEuOS0xMS45LDExLjlTNC42LDIzLjEsNC42LDE2LjVjMC02LjYsNS4zLTExLjksMTEuOS0xMS45VjBDNy40LDAsMCw3LjQsMCwxNi41QzAsMjUuNiw3LjQsMzMsMTYuNSwzM1MzMywyNS42LDMzLDE2LjVjMC00LjYtMS44LTguNy00LjgtMTEuN0wyNC45LDguMXoiLz48L2c+PC9zdmc+);
}