/* separate your sass into different files to keep it maintainable!  */

body{
	color: #3E3E3E;
}
h2{
	font: bold 20px Helvetica;
	line-height: 28px;
	margin: 0;
}
h4{
	font: bold 16px Helvetica;
	line-height: 28px;
	margin: 0;
}

p{
	margin: 0;
	font: 16px Helvetica;
	line-height: 19px;
	max-width: 460px;
}

.main{
	display: none;
}