<hr/>
<ul class="breadcrumbs">
	<li class="breadcrumb breadcrumb__active">
		<span class="breadcrumb--icon breadcrumb--icon__issues"></span>
		<span class="breadcrumb--full-text">Choose your issues</span>
		<span class="breadcrumb--short-text">Issues</span>
	</li>
	<li class="breadcrumb">
		<span class="breadcrumb--icon breadcrumb--icon__policies"></span>
		<span class="breadcrumb--full-text">Pick your policies</span>
		<span class="breadcrumb--short-text">Policies</span>
	</li>
	<li class="breadcrumb">
		<span class="breadcrumb--icon breadcrumb--icon__my-manifesto"></span>
		<span class="breadcrumb--full-text">View your manifesto</span>
		<span class="breadcrumb--short-text">My Manifesto</span>
	</li>
</ul>
<hr/>