<div class="page__issues">
    <h2>Choose your issues</h2>
    <p>Pick the policy areas which interest you. You can choose as many or as few as you like.</p>
    
    <ul style="list-style: none;" class="issues">
        <li class="issue" data-issue="priorities">Key priorities</li>
        <li class="issue" data-issue="economy">Economy</li>
        <li class="issue" data-issue="immigration">Immigration</li>
        <li class="issue" data-issue="health">Health and care</li>
        <li class="issue" data-issue="benefits">Welfare</li>
        <li class="issue" data-issue="justice"> Law and order</li>
        <li class="issue" data-issue="education">Education</li>
        <li class="issue" data-issue="housing">Housing</li>
        <li class="issue" data-issue="foreign">Foreign and defence</li>
        <li class="issue" data-issue="pensions">Pensions</li>
        <li class="issue" data-issue="europe">EU</li>   
        <li class="issue" data-issue="environment">Environment</li>
        <li class="issue" data-issue="taxation">Taxation</li>
        <li class="issue" data-issue="constitution">Constitution</li>
        <li class="issue" data-issue="transport">Transport</li>        
        <li class="issue" data-issue="local">Local government</li>
        <li class="issue" data-issue="rural">Rural affairs</li>
    </ul>

    <div class="nav-buttons">
        <button class="nav-button choose-policy icon__white-chevron" id="choose-policy">Choose your policies</button>
    </div>
</div>
