<div class="page__issues">
	<h2>Choose your issues</h2>
	<p>Choose the main issue that you would campaign around the list below.</p>
	
	<ul class="issues">
		<li class="issue issue__unchecked">
			
		</li>
	</ul>
</div>