<div class="nation-filter nation-filter__countries js-filter--view ">
	<h2 class="nation-filter__title js-nation-filter__title "><%- nations %></h2>
	<ul class="nation-filter__countries--list" style="list-style: none;">
			<li class="nation-filter__countries--item nation-filter__countries--item--active js-filter--item" data-country="uk"><%- country_short_uk %></li> 
			<li class="nation-filter__countries--item js-filter--item" data-country="eng"><%- country_short_eng %></li> 
			<li class="nation-filter__countries--item js-filter--item" data-country="ni"><%- country_short_ni %></li> 
			<li class="nation-filter__countries--item js-filter--item" data-country="scot"><%- country_short_sco %></li> 
		<li class="nation-filter__countries--item js-filter--item" data-country="cym"><%- country_short_wal %></li>
	</ul>
</div>