<div class="page__no-cards">
    <span class="icon icon__no_manifesto"></span>
    <h4>You did not choose any policies for your manifesto.</h4>
    <button class="nav-button start-again icon__restart">Start again</button>
</div>