$backgroundColor: #ededed;


@mixin hideContent() {
    display: block;
    -webkit-transition: opacity 0.5s cubic-bezier(0.38, 0.68, 0.3, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.38, 0.68, 0.3, 1);
    transition: opacity 0.5s cubic-bezier(0.38, 0.68, 0.3, 1);
    opacity: 0; 
    height: 0;
    padding: 0;
    max-height: 0;
}

@mixin showContent() {
    opacity: 1;
    height: auto;
    max-height: 100%;
}

.policies__card-container {
    transition: background-color 0.6s;
    margin-top: 1em;
    padding-top: 1em;
    min-height: 500px;
    background: $backgroundColor;
}


.issue-guide__cards--collection--one-column {
    .guide-card--policy {
        margin-bottom: 4px;
    }
}


.issue-guide__cards--collection{
    margin: 0.5em 1rem;
}

@include respondMinMax(701px, false){
    .issue-guide__cards--collection{
        margin: 1em 7%;
    }

    .issue-guide__cards--collection--one-column .guide-card--policy {
        margin-bottom: 1em;
    }
}



.issue-guide__cards--collection--two-column {
    .issue-guide__cards--column {
        width: 50%;
        padding: 0;
        margin-left: 0;
        margin: 0 0;
        float: left;
    }

    .issue-guide__cards--column-pri {
        padding-right: 0.5em;
    }

    .issue-guide__cards--column-sec {
        padding-left: 0.5em;
    }
}

.js-slot {
    @include hideContent();
    overflow: hidden;
    position: relative;
}


.issue-guide__filter-uk {
    .js-slot-party-uk,
    .js-slot-issue-uk {
        .js-slot {
            @include showContent();
        }
    }
}

.issue-guide__filter-eng {
    
    .js-slot-party-eng,  
    .js-slot-issue-eng {
        .js-slot {
           @include showContent();
        }
    }
}

.issue-guide__filter-ni {
    .js-slot-party-ni,
    .js-slot-issue-ni {
        .js-slot {
            @include showContent();
        }
    }
}

.issue-guide__filter-scot {
    .js-slot-party-scot,
    .js-slot-issue-scot {
        .js-slot {
            @include showContent();
        }
    }
}

.issue-guide__filter-cym {
    .js-slot-party-cym,
    .js-slot-issue-cym {
        .js-slot {
            @include showContent();
        }
    }
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

//TODO this is not CSS linting need to fix
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.js-loading-spinner {
    position: fixed;
    display: block;
    margin: 50px auto;
    width: 33px;
    height: 33px;
    max-width: 33px;
    left: 48%;
    
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzMgMzMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGQ9Ik0yNC45LDguMWMyLjIsMi4yLDMuNSw1LjEsMy41LDguNGMwLDYuNi01LjMsMTEuOS0xMS45LDExLjlTNC42LDIzLjEsNC42LDE2LjVjMC02LjYsNS4zLTExLjksMTEuOS0xMS45VjBDNy40LDAsMCw3LjQsMCwxNi41QzAsMjUuNiw3LjQsMzMsMTYuNSwzM1MzMywyNS42LDMzLDE2LjVjMC00LjYtMS44LTguNy00LjgtMTEuN0wyNC45LDguMXoiLz48L2c+PC9zdmc+);    
}

.js-load-mask {
    .issue-guide__cards--collection,
    .issue-guide__cards--collection--slot{
        .issue-guide__cards--column {
            .js-slot {
            opacity: 0.3;
            }
        }
    }

}

.js-slot .confirm-buttons{
    display: none;
    margin-top: 10px;
}

@include respondMinMax(701px, false){
    .js-slot .confirm-buttons{
        margin: 0;
        z-index: 99;
        position: absolute;
        width: 210px;
        right: -224px;
        top: 0;
    }
}