.page__policies{
	display: none;

	.policy_breadcrumbs{
		width: 100%;
		max-width: 550px;
		font: 16px Helvetica;

		.policy_breadcrumbs--bars{
			margin: 4px 0 16px 0;
			overflow: hidden;

			.policy_breadcrumbs--bar{
				float: left;
				border-right: 2px solid white;
				background-color: #ccc;
				height: 4px;
			}

			.policy_breadcrumbs--bar__active{
				background-color: #3e3e3e;
			}	

		}
	}

	.policy-cards--confirm{
		background-color: #171717;
		transition: 0.6s;

		.guide-card, .nation-filter{
			opacity: 0;
			transition: opacity 0.6s;
		}

		.focused-card{
			opacity: 100;
		}

		.guide-card__footer{
			display: none;
		}
	}

	.policy-cards--confirm__sec{
		.issue-guide__cards--column-pri{
			width: 0;
			margin: 0;
			border: 0;
			padding: 0;
			overflow: hidden;
			transition: width 1s;
		}

		.issue-guide__cards--column-sec{
			padding: 0;
		}
	}
}