.page__policies{
	display: none;

	.policy_breadcrumbs{
		width: 100%;
		max-width: 550px;
		font: 16px Helvetica;

		.policy_breadcrumbs--bars{
			margin: 4px 0 16px 0;
			overflow: hidden;

			.policy_breadcrumbs--bar{
				float: left;
				border-right: 2px solid white;
				background-color: #ccc;
				height: 4px;
			}

			.policy_breadcrumbs--bar__active{
				background-color: #3e3e3e;
			}	

		}
	}

	.issue-guide__cards--column-pri{
		transition: width 0.8s;
	}

	.policies__card-container--confirm{
		background-color: #171717;

		.js-slot {
		    overflow: visible;
		}

		.guide-card, .nation-filter{
			opacity: 0;
			pointer-events: none;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		}

		.focused-card{
			opacity: 1;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			margin-bottom: 50px;
		}

		.focused-card .guide-card__footer{
			display: none;
		}

		.issue-guide__cards--collection--issue .guide-card--policy .guide-card__party:after,{
			display: none;
			content: ' ';
		}
	}

	@include respondMinMax(701px, false){
		.policies__card-container--confirm__sec{
			.issue-guide__cards--column-pri{
				width: 0;
				height: 50px;
				margin: 0;
				border: 0;
				padding: 0;
				overflow: hidden;
			}

			.issue-guide__cards--column-sec{
				padding: 0;
			}
		}
	}
}