.page__results{
	display: none;

	.start-again{
		margin-top: 10px;
	}

	.bar-chart{
		max-width: 550px;
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;

		li{
			margin-top: 12px;
		}

		.bar-chart--bar{
			display: inline-block;
			height: 18px;
			vertical-align: top;
		}

		.bar-chart--label{
			display: inline-block;
			padding-top: 2px;
			font: 16px Helvetica;
		}

		.bar-chart--bar-party__oth{ background-color: $partyColourOth; }
		.bar-chart--bar-party__con{ background-color: $partyColourCon; }
		.bar-chart--bar-party__lab{ background-color: $partyColourLab; }
		.bar-chart--bar-party__ld{ background-color: $partyColourLd; }
		.bar-chart--bar-party__snp{ background-color: $partyColourSnp; }
		.bar-chart--bar-party__pc{ background-color: $partyColourPc; }
		.bar-chart--bar-party__ukip{ background-color: $partyColourUkip; }
		.bar-chart--bar-party__grn{ background-color: $partyColourGrn; }
		.bar-chart--bar-party__res{ background-color: $partyColourRes; }
		.bar-chart--bar-party__dup{ background-color: $partyColourDup; }
		.bar-chart--bar-party__sf{ background-color: $partyColourSf; }
		.bar-chart--bar-party__sdlp{ background-color: $partyColourSdlp; }
		.bar-chart--bar-party__ap{ background-color: $partyColourAp; }
		.bar-chart--bar-party__ni21{ background-color: $partyColourNi21; }
		.bar-chart--bar-party__tuv{ background-color: $partyColourTuv; }
		.bar-chart--bar-party__uup{ background-color: $partyColourUup; }
		.bar-chart--bar-party__bnp{ background-color: $partyColourBnp; }
		.bar-chart--bar-party__ed{ background-color: $partyColourEd; }
		.bar-chart--bar-party__pup{ background-color: $partyColourPup; }
		.bar-chart--bar-party__tusc{ background-color: $partyColourTusc; }
		.bar-chart--bar-party__mk{ background-color: $partyColourMk; }
		.bar-chart--bar-party__nha{ background-color: $partyColourNha; }
		.bar-chart--bar-party__yf{ background-color: $partyColourYf; }
		.bar-chart--bar-party__ssp{ background-color: $partyColourSsp; }
	}

	.policies__card-container {
	    padding: 0 0 16px 0;
	}

	.guide-card{
		margin-bottom: -16px;
	}

	.guide-card__footer{
		display: none;
	}

	.guide-card__issue:hover {
		color: #404040;
	}

	.guide-card--policy {
	    width: auto;
	}

	.policies__card-container {
	    min-height: auto;
	    overflow: hidden;
	}

	@include respondMinMax(701px, false){
		.results-collection-view-container--inner{
			overflow: hidden;
			margin: 1em 7%;

			.results-collection-view-container--pri, .results-collection-view-container--sec{
				float: left;
				width: 50%;
	    	}

	  		.results-collection-view-container--pri .guide-card{
				margin-right: -8px;
			}
			.results-collection-view-container--sec .guide-card{
				margin-left: -8px;
			}
		}

		.policies__card-container {
			padding: 0 0 1px 0;
		}


	}

	.share-heading{
		margin-top: 15px;
	}

	.issues-desc{
		max-width: auto;
		margin-bottom: 8px;
	}
	.issues-link{
		font: bold 14px Helvetica;
		color: #000;
		text-decoration: none;

		&:hover{
			color: #0d63aa;
		}
	}

	&.page__results__shared{
		.share-heading, .manifesto-share-holder, .start-again{
			display: none;
		}

		.make-own-manifesto{
			display: inline-block;
		}

		.results-sub-heading{
			margin-top: 25px;
		}
	

	}
}

.make-own-manifesto{
	display: none;
	width: 100%;
	background-color: #EDEDED;
	padding: 10px;
	

	.nav-button{
		display: block;
		margin-top: 8px;
	}

	&.make-own-manifesto__top-margin{
		margin-top: 16px;
	}
}

@include respondMinMax(580px, false){
	.make-own-manifesto{
		padding: 0 0 0 10px;
		width: auto;

		.nav-button{
			margin: 0 0 0 10px;
			display: inline-block;
		}
	}
}

.manifesto-share-holder{
	display: inline-block;
}

